nav > ul li {
  padding: 3px;
  list-style: none;
  display: inline;
}
nav > ul li a {
  color: black;
  font-family: "Courgette", cursive;
  font-size: larger;
}
nav > ul li a:hover {
  background-color: yellow;
}
#lad {
  background: rgba(0, 0, 0, 0.6) url("img/bac.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  width: 100%;
}
