@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
nav > ul li {
  padding: 3px;
  list-style: none;
  display: inline;
}
nav > ul li a {
  color: gray;
  font-size: larger;
}
nav > ul li a:hover {
  color: white;
}
#food{
  background-image: url("../img/fod.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
}
header{
  background: rgba(0, 0, 0, 0.829);
  text-align: center;
  padding-top: 5%;
  height: 1000px;
}
h1{
  font-size: 75px;
  font-family: 'Permanent Marker', cursive;
  color: yellow;
}
span{
  color: orangered;
}
h3{
  font-size: 25px;
  color: yellowgreen;
}
/* body{
  background-image: url("../img/foodsBg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
} */